:root {
    --body-color: #f7f7fa;
    --red: #dc3545;
    --red-dark: #8a131f;
    --header-text-color: #666666;
    --text-color: #929294;
    --green-light: #71dbc479;
    --green: #1fa185;
    --green-dark: #106351ef;
    --black: #17242A;
    --purple-light: #595d9cda;
    --purple-light2: #7478af;
    --purple: #3c428c;
    --Brown: #8B4513;
}

/* window */

h1,
h2,
h3,
h4,
h5,
h6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* item blog */

.parent-item-blog {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 5rem;
    backdrop-filter: blur(2px);
    z-index: 19;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: -55rem;
    transition: .7s;
}

.item-blog {
    width: 90%;
    height: 87%;
    padding: 1.5rem;
    background-color: #F3F3F3;
    overflow-x: hidden;
    overflow-y: scroll;
    direction: ltr;
    align-items: flex-start;
    justify-content: center;
    scroll-behavior: smooth;
}

.close-item-blog {
    width: 100%;
    text-align: right;
}

.close-item-blog .bi-x-lg {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--red);
    transition: .4s;
}

.close-item-blog .bi-x-lg:hover {
    color: var(--red-dark);
    transition: .4s;
}

.header-item-blog {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--purple);
    text-align: right;
    padding: 1.5rem 0;
}

.information-item-blog {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--black);
}

.box-item-blog {
    padding: 0 1rem;
}

.desc-item-blog {
    direction: rtl;
    font-size: 1.1rem;
    padding: 2.5rem 1.5rem 2rem 0;
    color: var(--black);
    line-height: 2.2rem;
}

/* btn up */

.parent-btn-up {
    position: fixed;
    bottom: 2rem;
    right: -3rem;
    z-index: 18;
    transition: .5s;
}

.btn-up {
    position: relative;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 50%;
    overflow: hidden;
    font-size: .65rem;
    cursor: pointer;
}

#upToWindow,
#upToWindow:hover {
    color: var(--purple);
}

.btn-up .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.2rem;
    height: 2.2rem;
    background: #fff;
    border-radius: 50%;
    font-size: 2.5em;
    font-weight: 300;
    padding: .4rem 0 0 0;
}


/* header */

.Card {
    border: 1px solid var(--green-light);
    border-radius: .4rem;
    background-color: var(--green-light);
    color: var(--green-dark);
    width: 15rem;
    padding: .2rem;
    position: relative;
    top: 7.5rem;
    right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header,
.container-poster {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header,
.container-contact-us {
    margin: 3rem 0 0 0;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem 0 0 0;
}

.container-poster {
    margin: 3rem 0 0 0;

}

/* poster */

.poster {
    height: 33rem;
}

.title-header,
.desc-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bolder;
}

.title-header {
    color: var(--header-text-color);
    padding: 2.8rem 3.2rem 0 0;
    font-size: 1.55rem;
}

.desc-header {
    color: var(--black);
    width: 90%;
    text-align: right;
    padding: 1.2rem 2.2rem;
    font-size: 1.55rem;
}

.icon-down {
    padding: 1.5rem 0 2.3rem 0;
    font-size: 2.8rem;
    font-weight: bolder;
}

.group-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0 0;
}

.btn-contact-us {
    border: 1px solid var(--black);
    border-radius: .4rem;
    background-color: var(--black);
    width: 9rem;
    padding: .5rem;
    margin: 0 .5rem;
    color: #fff;
    transition: .4s;
}

.btn-contact-us:hover {
    background-color: #fff;
    color: var(--black);
    transition: .4s;
}

.btn-Services {
    border: 1px solid var(--purple);
    border-radius: .4rem;
    background-color: var(--purple);
    width: 9rem;
    padding: .5rem;
    margin: 0 .5rem;
    color: #fff;
    transition: .4s;
}


.btn-Services:hover {
    background-color: #fff;
    color: var(--purple);
    transition: .4s;
}

.link-contact-us,
.link-Services,
.link-contact-us:hover,
.link-Services:hover {
    color: #fff;
    transition: .4s;
}

/* main */

main {
    margin: 3rem 0 0 0;
}

/* services and Satisfaction */

h2 {
    width: 100%;
    text-align: center;
    color: var(--black);
    font-size: 1.8rem;
    font-weight: bolder;
}

.parent-card-services,
.parent-card-Satisfaction,
.parent-Work-samples,
.parent-card-blog {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card-services,
.card-Satisfaction,
.card-Work-samples,
.card-blog {
    display: flex;
    align-items: center;
    justify-self: center;
}

.card-services p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: var(--header-text-color);
}

.card-services p.small {
    font-size: 14px;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--purple);
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: #fff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--purple);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card1:hover:before {
    transform: scale(21);
}

.card1:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
    transition: all 0.3s ease-out;
    color: #fff;
}

/* Chart information */

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    border-radius: 50%;
    overflow: hidden;
    font-size: .65rem;
}

.circle.per-98-2 {
    background-image: conic-gradient(var(--purple) 92.8%, var(--purple-light) 0);
}

.circle.per-98 {
    background-image: conic-gradient(var(--purple) 97.8%, var(--purple-light) 0);
}

.circle.per-92 {
    background-image: conic-gradient(var(--purple) 92%, var(--purple-light) 0);
}

.circle.per-90 {
    background-image: conic-gradient(var(--purple) 90%, var(--purple-light) 0);
}

.circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115px;
    height: 115px;
    background: #fff;
    border-radius: 50%;
    font-size: 1.85em;
    font-weight: 300;
    color: var(--purple);
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.card-Work-samples {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-Work-samples .Work-samples {
    margin: 1rem 0;
    padding: 17px;
    width: 300px;
    min-height: 420px;
    border-radius: 1.35rem;
    background: #fff;
    box-shadow: 0 15px 20px -3px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transition: 0.7s;
}

.Work-samples .image-Work-samples {
    width: 100%;
    border-radius: 1.1rem;
    min-height: 170px;
    background: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
}

.header-Work-samples {
    margin: 1rem 0;
    min-height: 2.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--purple);
}

.desc-Work-samples {
    margin: .7rem 0;
    min-height: 4.2rem;
    font-size: .9rem;
    text-align: justify;
    color: var(--header-text-color);
}

.information-Work-samples {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: .7rem 0;
    min-height: 1rem;
    color: var(--black);
}

.Issue-information-Work-samples,
.calendar-information-Work-samples {
    margin: 0 .8rem;
}

.link-Work-samples,
.link-Work-samples:hover {
    margin: .7rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-Work-samples {
    width: 100%;
    min-height: 2rem;
    border: 1px solid var(--purple);
    border-radius: .4rem;
    background-color: #fff;
    color: var(--purple);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

.button-Work-samples:hover {
    border: 1px solid #fff;
    background-color: var(--purple-light);
    color: #fff;
    transition: .4s;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* blog */

.card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #0000003d;
    border: 2px solid #0707071f;
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #3c428c 0%, #676ba3da 40%, #9a9ecea1 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
}

.icon svg {
    fill: white;
}

.card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}

.card:hover {
    height: 270px;
}

.card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}

.card:hover .icon {
    color: #fff;
    background-position: -120px;
    transition: all 0.3s ease;
}

.card:hover .icon svg path {
    fill: url('#gradientColor');
    transition: all 0.3s ease;
}

/* contact us */

.desc-contact-us {
    width: 100%;
    padding: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desc-contact-us .btn-contact-us {
    height: 3rem;
    width: 12rem;
    position: relative;
    font-family: inherit;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, var(--purple), #4a00e0);
    color: ghostwhite;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem 0;
}

.desc-contact-us .btn-contact-us svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.desc-contact-us .btn-contact-us span {
    position: relative;
    z-index: 8;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
}

.desc-contact-us .btn-contact-us::before,
.desc-contact-us .btn-contact-us::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.desc-contact-us .btn-contact-us::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.desc-contact-us .btn-contact-us:hover::before {
    transform: translate3d(100%, 0, 0);
}

.desc-contact-us .btn-contact-us:active {
    transform: scale(0.95);
}

@media only screen and (max-width: 900px) {

    /* item blog */

    .header-item-blog {
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    .information-item-blog {
        color: var(--black);
    }

    .desc-item-blog {
        font-size: 1rem;
        padding: 2.5rem .5rem 2rem 0;
        line-height: 2.1rem;
    }

    /* header */

    .Card {
        top: 7.5rem;
        right: 1.5rem;
    }

    .container-poster,
    .container-poster-contact-us {
        margin: 3rem 0 0 0;
        padding: 5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-poster-contact-us {
        padding: 0;
    }

    .container-header,
    .container-contact-us {
        margin: 0;
        position: relative;
        top: -2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
    }

    /* poster */

    .poster,
    .poster-Contact-us {
        height: 24rem;
    }

    .title-header,
    .desc-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        padding: 1rem 0;
    }

    .title-header {
        color: var(--text-color);
        justify-content: center;
        font-size: 1.38rem;
    }

    .desc-header {
        font-size: 1.35rem;
        justify-content: center;
        padding: 0 1rem;
    }

    /* main */

    main {
        margin: 4rem 0 0 0;
    }

    /* contact us */

    .desc-contact-us {
        width: 100%;
        padding: 1.5rem 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}







.content {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
    padding: 30px;
  }
  
  .panel-group {
    margin-bottom: 0;
  }
  .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
  }
  .panel-group .panel .panel-heading {
    padding: 0;
  }
  .panel-group .panel .panel-heading h4 a {
    background: #f8f8f8;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
  }
  .panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
    background: #fff;
    transition: 0.15s all ease-in-out;
  }
  .panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
    content: "ï¨";
  }
  .panel-group .panel .panel-heading h4 a i {
    color: #999;
  }
  .panel-group .panel .panel-body {
    padding-top: 0;
  }
  .panel-group .panel .panel-heading + .panel-collapse > .list-group,
  .panel-group .panel .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
  }
  .panel-group .panel + .panel {
    border-top: none;
    margin-top: 0;
  }